* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiBottomNavigation-root {
  overflow: hidden !important;
}

.MuiBox-root {
  margin-top: 55px !important;
}

body {
  color: #495057;
}

.registerbtn_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.register_btn {
  background: rgb(68, 110, 155);
  width: 100%;
  color: white;
  height: 45px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.languageContainer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.language_icon {
  color: white;
  background-color: firebrick;
  font-size: 25px;
  border-radius: 50%;
}

.bottom_0 {
  width: 100%;
  border-bottom: 1px solid rgba(239, 239, 239, 1);
  padding: 0px 30px;
}


.download_container > a{
  margin-top: 60px;
  font-size: 1.5rem;
  padding: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #446e9b;
}



.forgetButton1:hover{
  background-color: #446e9b !important;
  color: white !important;
}


.paymentContainer{
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}



.stripeimg{
  width: 250px;
}

.easylogo{
  width: 200px;
}


.jazzlogo{
  width: 200px;
}

.paymentp{
  margin: 0px 30px;
  font-size: 1.2rem;
  border: 1px solid rgba(239, 239, 239, 1);
  padding: 10px;
  background-color: #446e9b;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}